.form__add-album {
  margin: 40px 25px 35px 50px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group_upload {
  display: flex;
  align-items: center;
}

.button_load-cover {
  margin-right: 20px;
  position: relative;
}
.modal__input-upload {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}