.form__add-album {
  margin: 40px 25px 35px 50px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group_upload {
  display: flex;
  align-items: center;
}

.modal__image-preview-wrapper {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.image-preview {
  height: 100%;
}

.button_load-cover {
  margin-right: 20px;
}