.modal {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0,.9);
}

.modal-container {
  background-color: #fff;
}


.modal-container_small {
  width: 280px;
}

.modal-container_middle {
  max-width: 680px;
}

.modal-container_wide {
  max-width: 780px;
}

.modal__header {
  width: 100%;
  min-height: 70px;
  padding: 0 30px;
  background-color: $grey95;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-btn__close {
  color: $grey66;
  font-size: 30px;
  cursor: pointer;
  font-weight: 100;
  &:hover {
    color: $grey84;
  }
}

.modal__input-row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.modal__input-row_middle-align {
  display: flex;
  align-items: center;
}

.modal-form__left-col {
  display: inline-block;
  width: 100px;
}

.modal-form__title {
  vertical-align: top;
  font-weight: 600;
}

.modal-form__input {
  min-width: 490px;
  padding: 12px 20px;
  resize: none;
  border-radius: 15px;
  border: 1px $grey84 solid;
  outline: none;
  &:focus {
    border: 1px $btn-inc solid;
  }
  &.input-error {
    border: 1px $btn-dec solid;
  }
}

.modal-form__input_small {
  min-width: 240px;
}

.modal-form__input_high {
  min-height: 120px;
}

.modal__image-wrapper {
  overflow: hidden;
  width: 100%;
}

.modal__image-preview-wrapper {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
}

.modal__image {
  max-width: 100%;
}

.modal__image-preview {
  max-height: 100%;
}

.minor-text {
  font-size: 10px;
  font-style: italic;
}

.form__notice {
  display: inline-block;
  max-width: 200px;
}

.emphasize {
  font-weight: 600;
}

.modal__arrow-button {
  color: $grey66;
  font-size: 46px;
  margin: 0 20px;
  font-weight: 900;
  cursor: pointer;
  &:hover {
    color: $grey95;
  }
}

.modal__arrow-button-inline {
  color: $grey84;
  font-size: 16px;
}

.modal-footer {
  width: 100%;
  min-height: 70px;
  padding: 0 30px;
  background-color: $grey95;
  display: flex;
  justify-content: space-between;
  align-items: center
}