.search__content {
  .search__result-title {
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .album-container {
    margin: 50px;
    .album-category {
      width: 100%;
    }
  }
}