@import 'helpers/variables';
@import 'helpers/mixins';
@import 'common/fonts';
@import 'common/buttons';
@import 'common/socials';
@import 'common/myalbums';
@import 'common/links';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/album';
@import 'pages/main';
@import 'pages/search';
@import 'pages/welcome';
@import 'modal/modal-common';
@import 'modal/add-photos';
@import 'modal/add-album';
@import 'modal/edit-user';
@import 'modal/edit-photo';
@import 'modal/slider-album';
@import 'modal/notification';

* {
	box-sizing: border-box;
}

html {
  font: 16px 'Proxima Nova';
}

button {
  border: none;
  background: none;
  outline: none;
}
