.modal-window
    .modal-container.modal-container_add-photos

        .modal__header
            h4.modal__title Добавить фотографии
            .i.fa.fa-times.modal-btn__close

        form.form.form__add-photo

            .form__add-photo_row.add-photo__name
                span.modal-form__left-col.modal-form__title Название
                input.modal-form__input(placeholder="Как я провел лето")

            .form__add-photo_row.drop-photo

                .drop-photo__wrapper
                    .drop-photo__pic.i.fa.fa-camera.modal-icon__camera
                    .drop-photo__text Перетащите фото сюда или #[a.link.choose-files(href="#") выберите файл]

            .form__add-photo_row
                .error-notification Выбран неверный формат изображений. Попробуйте снова

        .modal-footer
            .modal-footer__buttons-group
                a.button.button_submit Сохранить
                a.button.button_transparent.button_light Отменить

