.modal-window
    .modal-container

        .modal__header
            h4.modal__title Добавить альбом
            a(href="#").modal-button.close
        form.form.form__add-album
            .input-group
                label Название
                input.input(placeholder="Название альбома")

            .input-group
                label Описание
                input.input.input-text(placeholder="Описание альбома")

            .input-group.input-group_upload
                .image-preview
                    img(src="#" alt="").image-preview_pic
                label.file-label.button.button_transparent Загрузить обложку
                small.form__notice (файл должен быть размером не более 1024 КБ)


            .form_add-photo-buttons
                a(href="#").button.button_ok Сохранить
                a(href="#").button.button_link-close Отменить
                a(href="#").button.button_red Удалить


