.modal.modal-edit-photo
    .modal-container.modal-container_middle

        .modal__header
            h4.modal__title Редактировать фотографию
            .i.fa.fa-times.modal-btn__close

        form.form.form__edit-photo#form__edit-photo
            .modal__input-row.modal__input-row_middle-align
                span.modal-form__left-col.modal-form__title  Название
                input.modal-form__input(placeholder="Домик в лесу")

            .modal__input-row
                span.modal-form__left-col.modal-form__title  Описание
                textarea.modal-form__input.modal-form__input_high(placeholder="Описание фотографии может быть с #хештегами. Чтобы было красиво, описание должно быть на несколько строк. Убедитесь сами!")

        .modal-footer
            .modal-footer__buttons-group
                input.button.button_submit(form="form__edit-photo" value="Сохранить" type="submit")
                a.button.button_transparent.button_light Отменить
            .modal-footer__buttons-group
                a.button.button_reset Удалить