footer.footer
    .footer-content
        .footer-column
            p Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
        .footer-column.center
            a(href="#").footer-button(class="fa fa-angle-double-up")
        .footer-column.right
            span.year 2016 | Создано командой профессионалов на продвинутом курсе по&nbsp;веб-разработке от LoftSchool