//-avatar
mixin avatar
    .user-avatar__img
        img(src="assets/img/default_avatar.jpg")

mixin socialsBlock()
    ul.social-links
        - var socialLinks = { "soc_vk" : "https://vk.com/", "soc_fb" : "https://www.facebook.com/", "soc_twitter" : "https://twitter.com/?lang=en", "soc_google" : "https://plus.google.com/up/follow", "soc_email" : "mailto:mail@gmail.com"}
        each link_url, link_name in socialLinks
            li.social__item
                a(href=link_url, id= "" class="social__link" )
                    svg.svg-social
                        use(xlink:href="assets/img/sprite.svg#" + link_name)
