.modal
    .modal-container.modal-container_small.modal-notification
        .modal-notification__text Файлы загружены
        .modal-notification__action
            a.button.button_transparent.modal-notification__btn Закрыть