.btn {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  border-radius: 2.625rem;
  height: 2.625rem;
  line-height: 2.625rem;
}

.button_animated {
  font-family: Panton;
  background: #fff;
  float: right;
  padding: 0 22px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.22);
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  width: 42px;
  right: 40px;
  display: block;
  transition: 0.2s linear;
  font-size: 14px;
  @media screen and (max-width: 768px){
    right: 25px;
  }
  @media screen and (max-width: 330px){
    right: 10px;
    top: 57px;
  }
  .fa {
    color: #a0a09f;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
  }
  &:hover {
    background: #28bbf0;
    font-family: Panton;
    font-size: 14px;
    color: #ffffff;
    i {
      color: #ffffff;
    }
    .svg-add-album{
      *{
        fill: #ffffff;
      }
    }
  }
}

.button_add{
  &:hover{
    width: 115px;
  }
}

.button__home {
  &:hover {
    width: 130px;
  }
}
.button_edit-info {
  &:hover {
    width: 155px;
  }
}
.button_loguot {
  &:hover {
    width: 100px;
  }
}

.button {
  border-radius: 20px;
  padding: 10px 15px;
  font: 700 14px Panton;
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
}
.button_submit {
  background-color: $btn-inc;
  color: #fff;
  &:hover {
    background-color: $btn-inc-hover;
  }
}
.button_reset {
  background-color: $btn-dec;
  color: #fff;
  &:hover {
    background-color: $btn-dec-hover;
  }
}
.button_transparent {
  border: 1px solid $btn-inc;
  color: $btn-inc;
  background-color: transparent;
  &:hover {
    background-color: $btn-inc-hover;
    color: #fff;
  }
}
.button_light {
  border: none;
}
.button.welcome_form-button {
  display: block;
  text-align: center;
  margin-top: 16px;
  margin-left: 0px;
  width: 100%;
  border: none;
  &:focus {
    outline: none;
  }
}