.btn {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  border-radius: 2.625rem;
  height: 2.625rem;
  line-height: 2.625rem;
}

.button_animated {
  background: #fff;
  float: right;
  padding: 0 22px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.22);
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  width: 42px;
  .fa {
    color: #a0a09f;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
  }
}

.button {
  border-radius: 20px;
  padding: 10px 15px;
  font: 700 14px Panton;
  display: inline-block;
  text-decoration: none;
}
.button_submit {
  background-color: $btn-inc;
  color: #fff;
  &:hover {
    background-color: $btn-inc-hover;
  }
}
.button_reset {
  background-color: $btn-dec;
  color: #fff;
  &:hover {
    background-color: $btn-dec-hover;
  }
}
.button_transparent {
  border: 1px solid $btn-inc;
  color: $btn-inc;
  &:hover {
    background-color: $btn-inc-hover;
    color: #fff;
  }
}
.button_light {
  border: none;
}
.welcome_form-button {
  display: block;
  text-align: center;
  margin-top: 16px;
}