.header {
  min-height:300px;
  background-image: url('../img/header_bg.jpg');
  background-position: top;
  background-size:cover;
  &::before {
    display: inline-block;
    content: '';
    width: 100%;
    min-height: 300px;
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, .7) 0%, rgba(5, 5, 5, 0.55) 98%, rgba(0, 0, 0, 0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6000000',GradientType=0 );
    z-index: 1;
    left: 0;
  }
  .header__user-info {
    float: left;
    width: 70%;
    position: relative;
    z-index: 10;
    .user-photo {
      width: 22%;
      float: left;
      .user-avatar__img {
        min-width: 124px;
        min-height: 124px;
        max-width: 124px;
        max-height: 124px;
        overflow: hidden;
        border-radius: 50%;
        margin:56px 0 0 80px;
        border: 3px #fff solid;
        img {
          max-width: 124px;
        }
      }

    }
    .user-info {
      width: 74%;
      float: left;
      margin-top: 50px;
      &__name {
        color: #ffffff;
        margin: 0 0 10px 0;
        font-size: 21px;
        font-family: "Panton", sans-serif;
      }
      &_desc {
        width: 50%;
        line-height: 24px;
        color: #ffffff;
      }
    }
  }

  .header__buttons {
    text-align: right;
    float: left;
    width: 30%;
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 10;
    &-item {
      float: right;
      clear: both;
      padding: 0 0 6px;
      width: 42px;
      -webkit-transition: width .5s;
      transition: width .5s;
      font-size: 22px;
    }
  }
  .search__holder {
    background: rgba(241,241,241,.9);
    height: 60px;
    position: absolute;
    width: 100%;
    top: 240px;
    text-align: right;
    z-index:10;

  }
}
.search-form {
  height: 100%;
  &__input {
    position: relative;
    display: inline-block;
    width: 380px;
    height: 40px;
    margin: 10px 60px 10px 0;
    padding: 0 30px 0 45px;
    border: none;
    border-radius: 999px;
    outline: none;
    z-index: 1;
  }
  &__button {
    width: 30px;
    height: 30px;
    border:none;
    font-size:22px;
    color: #323232;
    background-color: #fff;
    position: relative;
    z-index: 2;
    transform: translate(143%, 10%);
    opacity:0.6;
    cursor: pointer;
    outline:none;
  }
}
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  &-title {
    font-family:Panton;
    flex: 1 1 auto;
    text-align: center;
  }
  .button_animated .fa {
    left: 12px;
  }
}

.search__holder_page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(241, 241, 241, 0.9);
  .search__column_right {
    width: 60%;
    .search-form {
      .show-new {
        color: $btn-inc;
        text-decoration: none;
        font-weight: 600;
      }
      &__input {
        margin-right: 20px;
      }
    }
  }
  .search__column_left {
    width: 30%;
    text-align: center;
    .search_user-info {
      display: flex;
      justify-content: center;
      align-items: center;
      .user-photo {
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        max-height: 45px;
        max-width:45px;
        .user-avatar__img img {
          width: 45px;
        }
      }
    }
  }

}
.changes__container{
  width: 90%;
  margin: 0 auto;
  &__center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.button{
  opacity: 0.8;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  transition:.3s all ease-out;
  margin: 0 20px;
  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}
.changes__bottom{
  text-align: right;
  padding-top: 10px;
}
.input__submit{
  padding: 5px 20px;
  color: white;
  display: inline-block;
  border-radius: 20px;
  border:none;
  outline: none;
  font-family: "Panton";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background-color: #28bbf0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
.header__buttons-item{
  & span{
    margin-left: 22px;
  }
  a{
    transition:.3s all ease-out;
  }
}
.changes__album{
  & .input, & .textarea{
    width: 100%;
  }
  & .changes__data{
    width:779px;
    margin: 0 auto;
    display: block;
  }
  & .user-info__name{
    color: white;
    font-family: "Panton";
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 13px;
    float: right;
    width: 222px;
  }
  & .user_image{
    width: 56px;
    height: 56px;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 22px;
    .user-avatar__img {
      width: 56px;
      height: 56px;
    }
    img {
      width: 56px;
      height: 56px;
    }
  }
  & .user{
    @extend %clearfix;
    display: block;
    width: 300px;
    position: absolute;
    top: -36px;
  }
}


.header__album {
  min-height:300px;
  background-image: url('../img/header_bg.jpg');
  background-position: top;
  background-size:cover;
  display: flex;
  &::before {
    display: inline-block;
    content: '';
    width: 100%;
    min-height: 300px;
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, .7) 0%, rgba(5, 5, 5, 0.55) 98%, rgba(0, 0, 0, 0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6000000',GradientType=0 );
    z-index: 1;
  }
  justify-content: space-between;
  .header__user-info {
    display: flex;
    margin-top:30px;
    flex: 1;
    justify-content: center;
    position: relative;
    z-index:10;

  }
  .header-content {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-top: 60px;
    flex:3;
    position: relative;
    z-index:10;
    .my-album-title {
      color: #ffffff;
      font-size: 22px;
    }
    .my-album-desc {
      color: #ffffff;
      width: 75%;
      margin: 0 auto;
    }
  }
  .header__buttons {
    flex: 1;
    display: flex;
    flex-direction:column;
    margin-top: 15px;
    position: relative;
    z-index:10;
    &-item:first-child {
      margin-bottom: 10px;
    }
  }
  .user-avatar__img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right:20px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .user-info__name {
    margin-top: 15px;
    color: #ffffff;
  }
}
