extends ../template


block variables
    - var title = 'Главная страница'

block content
  .welcome__wrapper
    .flip-container
      .flip-card
        .flip-card__front-side
          .welcome__intro.welcome__intro_login
            h1.welcome_h1 Добро пожаловать
            .welcome_text
              p.welcome_text-p Перед вами сервис, который может вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
          .welcome__card.welcome__card_login
            form.form.welcome_form#authorization-form
              label.form__label
                input.form__input(type="email" name="mail" id="mail" value="" placeholder="Электронная почта")
                span.form__icon
                  i(class="fa fa-envelope" aria-hidden="true")
              label.form__label
                input.form__input(type="password" name="password" id="password" value="" placeholder="Пароль")
                span.form__icon
                  i(class="fa fa-lock fa-lg" aria-hidden="true")
              .welcome__links-wrapper
                .welcome_form-link-wrapper
                  a(href="#").welcome_form-link#welcome__forget-link Забыли пароль?
                .error-mes Не все поля заполнены
                input(type="submit" value="Войти").button.button_submit.welcome_form-button
                .welcome_form-text
                  span.welcome_form-span Нет аккаунта?
                  a(href="#").welcome_form-link#welcome__register-link Зарегистрироваться
        .flip-card__back-side
          .back-side__registration
            .welcome__intro.welcome__intro_registration
              h1.welcome_h1 Регистрация
            .welcome__card.welcome__card_registration
              form.form.welcome_form#registration-form
                label.form__label
                  input.form__input(type="text" name="name" id="name" value="" placeholder="Имя")
                  span.form__icon
                    i(class="fa fa-user" aria-hidden="true")
                label.form__label
                  input.form__input(type="email" name="mail" id="mail" value="" placeholder="Электронная почта")
                  span.form__icon
                    i(class="fa fa-envelope" aria-hidden="true")
                label.form__label
                  input.form__input(type="password" name="password" id="password" value="" placeholder="Пароль")
                  span.form__icon
                    i(class="fa fa-lock fa-lg" aria-hidden="true")
                .welcome__links-wrapper
                  .welcome_form-text Ваши данные остаются строго конфиденциальны
                  .error-mes Не все поля заполнены
                  input(type="submit" value="Создать аккаунт").button.button_submit.welcome_form-button
                  .welcome_form-text
                    span.welcome_form-span Уже зарегистрированы?
                    a(href="#").welcome_form-link.welcome__login-link Войти
          .back-side__recovery
            .welcome__recovery
              .welcome__intro
                h1.welcome_h1 Восстановление пароля
              .welcome__card
                form.form.welcome_form#recovery-form
                  .welcome__links-wrapper
                    .welcome_form-text
                      span.welcome_text-span Забыли пароль?
                      p.welcome_text-p Ничего страшного, введите свой e-mail, и мы вышлем вам инструкции по восстановлению пароля
                  label.form__label
                    input.form__input(type="email" name="mail" id="mail" value="" placeholder="Электронная почта")
                    span.form__icon
                      i(class="fa fa-envelope" aria-hidden="true")
                  .welcome__links-wrapper
                    .error-mes Не все поля заполнены
                    input(type="submit" value="Восстановить пароль").button.button_submit.welcome_form-button
                    .welcome_form-text
                      span.welcome_form-span Вспомнили пароль?
                      a(href="#").welcome_form-link.welcome__login-link Войти
    footer.welcome__footer
      .copyright
        span.footer-text 2016 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool

