extends ../template


block variables
    - var title = 'Главная страница'

block content
  .welcome__wrapper
    .flip-container
      .flip-card
        .flip-card__front-side
          .welcome__intro.welcome__intro_login
            h1.welcome_h1 Добро пожаловать
            .welcome_text
              p.welcome_text-p Перед вами сервис, который может вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
          .welcome__card.welcome__intro_login
            form.form.welcome_form
              label
                input
                span
              label
                input
                span
            a(href="#").welcome_form-link Забыли пароль?
            a.button.welcome_form-button Войти
            .welcome_form-text
              span.welcome_form-span Нет аккуанта?
              a(href="#").welcome_form-link Зарегистрироваться
        .flip-card__back-side
          .welcome__intro.welcome__intro_registration
            h1.welcome_h1 Регистрация
          .welcome__card.welcome__card_registration
            form.form.welcome_form
              label.form__label
                input
                span
              label
                input
                span
              label
                input
                span
              span Ваши данные остаются строго конфеденциальны
              a(href="#").button.welcome_form-button Создать аккуант
              .welcome_form-text
                span.welcome_form-span Уже зарегистрированы?
                a(href="#").welcome_form-link Войти
    .welcome__recovery
      .welcome__intro
        h1.welcome_h1 Восстановление пароля
      .welcome__card
        form.form.welcome_form
          span.welcome_text-span Забыли пароль?
          p.welcome_text-p Ничего страшного, введите свой e-mail, и мы вышлем вам инструкции по восстановлению пароля
          label
            input
            span
          a(href="#").button.welcome_form-button Восстановить пароль
          .welcome_form-text
            span.welcome_form-span Вспомнили пароль?
            a(href="#").welcome_form-link Войти
    footer.welcome__footer
      .copyright
        span.footer-text 2016 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool

