extends ../template
include ../common/_mixins

block variables
    - var title = 'Профиль'

block content
    include ../common/_add-album-modal.pug
    include ../common/_edit-photo-modal.pug
    include ../common/_slider-album-modal.pug
    header.header
        .header__user-info
            .user-photo
                +avatar
            .user-info
                h4.user-info__name Антон Черепов
                .user-info_desc Я веб-разработчик. Мне 24  года. Люблю путешествия, кодинг, фриланс и активный отдых.
                    +socialsBlock
        .header__buttons
            .header__buttons-item
                a.btn.button_animated.button_edit-info
                    i(class="fa fa-pencil")
                    span Редактировать
            .header__buttons-item
                a(href="#").btn.button_animated.button_loguot
                    i(class="fa fa-power-off")
                    span Выйти
        .search__holder
            form.search-form
                button(type="submit").search-form__button.fa.fa-search
                input(type="text" placeholder="Исследовать мир").search-form__input

    section.news-content
        .new-photos-album
            h2.album-title Новое в мире
            .album-container
                +albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "slide-1.jpg", "default_avatar.jpg")
                +albumItem("Путешествие", "Прогулки по воде", "9", "9", "bg/welcome-bg.jpg", "default_avatar.jpg")
                +albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "8", "8", "no_photo.jpg", "default_avatar.jpg")
                +albumItem("Путешествие", "Прогулки по воде", "7", "7", "no_photo.jpg", "default_avatar.jpg")
                +albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "6", "6", "no_photo.jpg", "default_avatar.jpg")
                +albumItem("Путешествие", "Прогулки по воде", "5", "5", "no_photo.jpg", "default_avatar.jpg")
            a(href="#").button.button_transparent Показать еще
    .changes
        form(action="/" method="POST" enctype="multipart/form-data").changes__top
            .changes__container.changes__container__center
                .changes__avatar
                    i(aria-hidden="true").fa.fa-camera
                    span="Изменить фото"
                    input(type="file" name="avatar").changes__file__avatar
                .changes__data
                    input(type="text" name="username" value="Антон Черепов").input
                    textarea(name="userdescription").textarea="Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых."
                    +socialsBlock
                .changes__background
                    i(aria-hidden="true").fa.fa-camera
                    span="Изменить фон"
                    input(type="file" name="avatar").changes__file__background
        .changes__bottom
            .changes__container
                button.button.close__header__edit="Отменить"
                button.button.input__submit Сохранить


    section.my-album
        .my-album_content
            .my-album__holder
                h2.album-title.album-title__my-albums Мои альбомы
                a(href="#").btn.button_animated.button_add
                    svg.svg-add-album
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#add")
                    span.add-album-btn-text Добавить
            ul.my-album-container
                +myAlbumItem("Одинокая птица", "./assets/img/default_avatar.jpg", "Лучший альбом",  "15 Фотографий")
                +myAlbumItem("В последнюю осень", "./assets/img/default_avatar.jpg", "Самый лучший альбом", "10 Фотографий")
                +myAlbumItem("Путь домой", "./assets/img/default_avatar.jpg", "Хороший альбом", "3 Фотографии")
                +myAlbumItem("Беспечный ангел", "./assets/img/default_avatar.jpg", "Любимый альбом", "21 Фотография")
                +myAlbumItem("Музыка для мужика", "./assets/img/default_avatar.jpg", "Текущий альбом", "12 Фотографий")
                +myAlbumItem("Московские звонки", "./assets/img/default_avatar.jpg", "Почти забытый альбом", "14 Фотографий")
    include ../common/_footer



