extends ../template
include ../common/_mixins

block variables
    - var title = 'Профиль'

block content
    header.header
        .header__user-info
            .user-photo
                +avatar
            .user-info
                h4.user-info__name Антон Черепов
                .user-info_desc Я веб-разработчик. Мне 24  года. Люблю путешествия, кодинг, фриланс и активный отдых.
                    +socialsBlock
        .header__buttons
            .header__buttons-item
                a.btn.button_animated.button_edit-info
                    i(class="fa fa-pencil")
                    //span Редактировать
            .header__buttons-item
                a(href="#").btn.button_animated.button_loguot
                    i(class="fa fa-power-off")
                    //span Выйти
        .search__holder
            form.search-form
                button(type="submit").search-form__button.fa.fa-search
                input(type="text" placeholder="Исследовать мир").search-form__input


    section.news-content
        .new-photos-album
            h2.album-title Новое в мире
            .album-container
                +albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "slide-1.jpg", "default_avatar.jpg")
                +albumItem("Путешествие", "Прогулки по воде", "9", "9", "bg/welcome-bg.jpg", "default_avatar.jpg")
                +albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "8", "8", "no_photo.jpg", "default_avatar.jpg")
                +albumItem("Путешествие", "Прогулки по воде", "7", "7", "no_photo.jpg", "default_avatar.jpg")
                +albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "6", "6", "no_photo.jpg", "default_avatar.jpg")
                +albumItem("Путешествие", "Прогулки по воде", "5", "5", "no_photo.jpg", "default_avatar.jpg")
            a(href="#").button.button_transparent Показать еще
    section.my-album
        .my-album__holder
            h2.album-title Мои альбомы
            a(href="#").btn.button_animated.button_add
                span Добавить
        .album-container
    //include ../common/_footer



